Repository wokdev/wok: changes, and which Woodpecker steps are due for each by the changed paths.
All: woodpecker, test

woodpecker:
  steps:
    build:
      image: rust:1
      commands:
      - cargo build --release
      - echo "Placeholder package built successfully"

test:
  steps:
    test:
      image: rust:1
      commands:
      - git config --global init.defaultBranch 'main'
      - cargo test

Update submodules to latest
  Cargo.lock
Due: woodpecker, test

Update `Cargo.lock`
  Cargo.lock
Due: woodpecker, test

Add short version -c for --create option in switch command
  docs/cli.md
  docs/getting-started.md
  src/bin/git_wok.rs
  src/cmd/test_auth.rs
  src/config.rs
  src/repo.rs
  tests/cmd/version_migration.rs
Due: woodpecker, test

Version 1.0.1
  Cargo.toml
  pyproject.toml
Due: woodpecker, test

Fix status to show actual current branch for each subrepo
  src/repo.rs
  tests/cmd/init.rs
  tests/cmd/status.rs
  tests/data/configs/a-other-b.toml
Due: woodpecker, test

Update `.woodpecker.yml`
  .woodpecker.yml
Due: woodpecker

Fix include in `.woodpecker.yml`
  .woodpecker.yml
Due: woodpecker

Update CI status badge
  README.md
Due: none

Version 1.0.2
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: woodpecker, test

Refactor tag command to use subcommands (create, list, push)
  docs/cli.md
  src/bin/git_wok.rs
  src/cmd/mod.rs
  src/cmd/tag.rs
  tests/cmd/main.rs
  tests/cmd/tag_cli.rs
Due: woodpecker, test

Version 1.1.0
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: woodpecker, test

Add --updated flag to tag create command
  docs/cli.md
  docs/getting-started.md
  src/bin/git_wok.rs
  src/cmd/tag.rs
  tests/cmd/tag_cli.rs
Due: woodpecker, test

Version 1.2.0
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: woodpecker, test

Fix update for detached submodules
  src/cmd/update.rs
  src/repo.rs
  tests/cmd/update.rs
Due: woodpecker, test

Docs: mark site/ as generated (do not edit)
  AGENTS.md
Due: none

Add -b short flag for switch --branch
  docs/cli.md
  src/bin/git_wok.rs
  tests/cmd/main.rs
  tests/cmd/switch_cli.rs
Due: woodpecker, test

Update switch to follow umbrella wokfile
  docs/cli.md
  src/bin/git_wok.rs
  src/cmd/switch.rs
  src/repo.rs
  tests/cmd/switch.rs
  tests/cmd/switch_cli.rs
Due: woodpecker, test

Add Justfile with release recipe
  Justfile
Due: none

Prefix release messages and tags
  Justfile
Due: none

Bump version to v1.3.0
  Cargo.toml
  pyproject.toml
Due: woodpecker, test

Update lockfiles
  Cargo.lock
  uv.lock
Due: woodpecker, test

Fix git add command in Justfile
  Justfile
Due: none

Fix git commit commands in Justfile
  Justfile
Due: none

Ensure switch updates submodule worktrees
  src/cmd/switch.rs
  src/repo.rs
  tests/cmd/switch.rs
Due: woodpecker, test

Bump version to v1.3.1
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: woodpecker, test

Add Git LFS support to push and update
  docs/cli.md
  docs/getting-started.md
  src/cmd/push.rs
  src/repo.rs
  tests/cmd/main.rs
  tests/cmd/push.rs
  tests/cmd/update.rs
Due: woodpecker, test

Initialize configured submodules during update
  src/bin/git_wok.rs
  src/repo.rs
  tests/cmd/update.rs
Due: woodpecker, test

Refine status output for quick workspace scanning.
  docs/cli.md
  docs/getting-started.md
  src/cmd/status.rs
  tests/cmd/status.rs
Due: woodpecker, test

Bump version to v1.4.0
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: woodpecker, test

Refresh README for current commands and docs links.
  README.md
Due: none

Refresh docs home page for current workspace workflows.
  docs/index.md
Due: none

Show umbrella push-needed commits in status.
  src/cmd/status.rs
  tests/cmd/status.rs
Due: woodpecker, test

Bump version to v1.4.1
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: woodpecker, test

Render tag list in status-style format with ahead marker.
  docs/cli.md
  src/cmd/tag.rs
  tests/cmd/tag.rs
  tests/cmd/tag_cli.rs
Due: woodpecker, test

Bump version to v1.4.2
  Cargo.toml
  pyproject.toml
  uv.lock
Due: woodpecker, test

Bump version to v1.4.2
  Cargo.lock
Due: woodpecker, test

Path conditions:
  woodpecker: any of: src/**, .woodpecker.yml, Cargo.*
  test: any of: src/**, tests/**, .woodpecker/**, Cargo.*
